:root {
    --primary-color: #15f5fd;
    --secondary-color: #313131;
    --highlight-color: rgb(255, 208, 0);
    --text-color: rgb(61, 61, 61);
    --border-color: rgba(109, 107, 107, 0.323);
    --cloud-color: #f5f5f5;
}

html, body{
    margin: 0;
    padding: 0;
    font-family: "Kaushan Script", serif; 
    line-height: 1.5;    
}
h1{
    font-size: 4rem;
}

h2{
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-color);    
    font-weight: bold;
    font-style: normal;
    padding: 0;
    margin: 0;
    letter-spacing: 5px;    
}

p{
    font-size: 1rem;
    color: var(--text-color);
    font-weight: normal;
    font-style: normal;
    padding: 0;
    margin: 0;
    letter-spacing: 2.5px;
}

header{
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 1em;
    text-align: center;
    height: 15rem;
    box-shadow: 0 15px 15px rgba(93, 92, 92, 0.75);
    position: relative;
    overflow: hidden;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

a{
    text-decoration: none;
    color: blueviolet;
    transition:all .25s;
}
a:hover{
    text-decoration: underline;
    transform: translateY(-2px);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;   
    flex-direction: column;
    padding: 12px;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
}
.col{
    margin: 1em;
}

#sun{
    position: absolute;
    top: 50%;
    right: 50%;
    transform:translate(50%, -50%);
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    background-color: var(--highlight-color);
    box-shadow: 0 0 50px var(--highlight-color);
    z-index: 10;
    animation: fadeIn 1s ease-in-out;
}

#sun .sun-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 2px black;
    font-family: "Dancing Script", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
  
}

.cloud {
    position: absolute;
    background: var(--cloud-color);
    border-radius: 50%;
    box-shadow: 0 0 20px var(--border-color);
    animation: float 30s infinite linear;
    z-index: 1; /* Default z-index */
    
}

.cloud.glow {
    box-shadow: 0 0 20px rgba(255, 165, 0, 0.5);
}

.cloud:before, .cloud:after {
    content: '';
    position: absolute;
    background: var(--cloud-color);
    border-radius: 50%;
}

.cloud:before {
    width: 100px;
    height: 100px;
    top: -50px;
    left: 50px;
}

.cloud:after {
    width: 120px;
    height: 120px;
    top: -60px;
    right: 50px;
}

section{
    max-width: 100%;
    width:800px;
    border-top: 15px dotted var(--border-color);
    margin-top: 2.5rem;
    padding-top: 50px;
}

#tech-icons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    justify-items: center;
    align-items: center;
}

#tech-icons div {
    display: flex;
    flex-direction: column;
    text-align: center;   
    padding: 1rem;
    width: 150px;
    height: 150px;
}

#tech-icons div img {
    width: auto;
    height:100px;
}

.profile-image{
    width: 15rem;
    height: 15rem;   
    border: 5px solid var(--border-color);
    border-radius: 50%;
    overflow: hidden;    
   
}

.profile-image img{         
    width: 100%;
    height:auto;
} 


@keyframes float {
    0% { transform: translateX(-200px); }
    100% { transform: translateX(100vw); }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes floatY {
    0% { transform: translateY(0); }
    100% { transform: translateY(20px); }
}

@media (max-width: 1200px) {
    .container {
        padding: 10px;
    }
    .row {
        flex-direction: column;
    }
    .col {
        margin: 0.5em;
    }
}

@media (max-width: 992px) {
    .container {
        padding: 8px;
    }
    .row {
        flex-direction: column;
    }
    .col {
        margin: 0.5em;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 6px;
    }
    .row {
        flex-direction: column;
    }
    .col {
        margin: 0.5em;
    }
    .cloud {
        width: 75%;
        height: 75%;
    }
    #tech-icons {
        grid-template-columns: repeat(3, 1fr);
    }
    #tech-icons div {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 576px) {
    .container {
        padding: 4px;
    }
    .row {
        flex-direction: column;
    }
    .col {
        margin: 0.5em;
    }
 
    #tech-icons div {
        width: 75px;
        height: 75px;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 2px;
    }
    .row {
        flex-direction: column;
    }
    .col {
        margin: 0.5em;
    }
    .cloud {
        width: 50%;
        height: 50%;
    }
    #tech-icons {
        grid-template-columns: repeat(2, 2fr);
    }
}

